
{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-md-6">
            <h1>
                Esta es la pagina de about.
            </h1>
        </div>
        <div class="col-md-6">
            <img src="assets/img/hana.jpg" class="img-thumbnail">
        </div>

    </div>

    {{> footer}}